{% extends 'base.html' %}

{% block title %}Tambah Petugas - BPS Monitoring{% endblock %}
{% block page_title %}Pendaftaran Petugas Lapangan{% endblock %}

{% block content %}
<div class="card col-md-6 shadow-sm">
    <div class="card-header bg-dark text-white py-3">
        <h6 class="mb-0 fw-bold"><i class="fas fa-user-plus me-2"></i>Form Buat Akun Petugas</h6>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label fw-semibold">Nama Lengkap Petugas</label>
                <input type="text" name="nama" class="form-control" placeholder="Masukkan nama asli petugas" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label fw-semibold">Username Akun (Untuk Login)</label>
                <input type="text" name="username" class="form-control" placeholder="Contoh: petugas_baru" required>
            </div>
            
            <div class="mb-3">
                <label class="form-label fw-semibold">Password Akun</label>
                <input type="password" name="password" class="form-control" placeholder="Masukkan password aman" required>
            </div>
            
            <div class="d-flex justify-content-between pt-2">
                <a href="{% url 'daftar_petugas' %}" class="btn btn-secondary">Kembali</a>
                <button type="submit" class="btn btn-dark">Daftarkan Petugas</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}